#profile-container{
	color: blue;
}
#profile-name{
	color: red;

}
#profile-images{
	color: pink;

}
body{
	font-family: sans-serif;
}

    #header {
       width: 100%;
       height: 50px;
       line-height: 50px;
       background-color: burlywood;
       text-align: center;
       color: white;
    }